<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="TrasportTrackingEmail@gmail.com">
        <network host="smtp.gmail.com" port="587"
                 defaultCredentials="false"
                 userName="guntherdan27@gmail.com"
                 password="1234wasd"
                 enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web.webPages.razor>
    <pages>
      <namespaces>
        <add namespace="Postal" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
</configuration>